
.DS_Store
day2/hometask/Project1 folder/IMG/bones.jpg
day2/hometask/Project1 folder/IMG/bones.jpg
day2/hometask/Project1 folder/IMG/dark.jpg
day2/hometask/Project1 folder/css/reset.css
day2/hometask/Project1 folder/css/style.css
day2/hometask/Project1 folder/css/reset.css
day2/hometask/Project1 folder/css/reset.css
day2/hometask/Project1 folder/css/style.css
.DS_Store
